html, body {
    height: 100%;
}

#game {
    width: 100%;
    overflow: auto;
    position: relative;
}

#menu {
	height: 100%;
	width: 200px;
	position: absolute;
}

#screen {
	margin-left: 200px;
	height: 900px;
}

#ComboBox {
  width: 190px;
  padding: .85rem 2.13rem;
  padding-top: 0.85rem;
  padding-right: 2.13rem;
  padding-bottom: 0.85rem;
  padding-left: 2.13rem;
  margin: 6px;
  border-radius: 2px;
  border: 0;
}

#Info {
	height: 400px;
  width: 190px;
  padding: 0.85rem 0.85rem;
  padding-top: 0.85rem;
  padding-right: 0.85rem;
  padding-bottom: 0.85rem;
  padding-left: 0.85rem;
  border-radius: 2px;
  border: 0;
  overflow: auto;
}

#gameMenu
{
  margin-top: 100px;
}

#importMenu
{
  margin-top: 50px;
}

#EditSave {
}


.gameBtn {
  width: 190px;
}

.menuBtn
{
  position: absolute;
  width: 95px;
  padding: 0.85rem 0.85rem;
  padding-top: 0.85rem;
  padding-right: 0.85rem;
  padding-bottom: 0.85rem;
  padding-left: 0.85rem;
}

#Load {
  margin-left: 100px
}
