html, body {
    height: 100%;
}

#game {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#menu {
	height: 100%;
	width: 200px;
	background: red;
	position: absolute;
}

#screen {
	margin-left: 200px;
	height: 100%;
	background: black;
}

#ComboBox {
  width: 190px;
  padding: .85rem 2.13rem;
  padding-top: 0.85rem;
  padding-right: 2.13rem;
  padding-bottom: 0.85rem;
  padding-left: 2.13rem;
  margin: 6px;
  border-radius: 2px;
  border: 0;
}

#info {
	height: 200px;
}

.gameBtn {
  width: 190px;
}
